.modal-overlay{
    width: 30%;
    height: 500px;
    background-color: grey;
    border-radius: 20px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

  
    
}

.modal-inner{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;

        h2{
            display: flex;
            justify-content: center;
            padding: 20px 0;
        }

        form {
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 100%;
                align-items: center;
                flex-wrap: nowrap;
            }

}
.form-container {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exercice-form{
    display: flex;
    justify-content: center;
}

.weight {
    width: 60px;
}

.reps {
    width: 60px;
}


