.accordion-arrow {

    display: flex;
    justify-content: center;
    
}

.arrow {
    color: white;

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        40% {
            transform: translateY(-10px);
        }
    }

    .scroll-down {
        animation: bounce 1s infinite both;
        
    }
}